@page "/posts"
@inject HttpClient Http

<PageTitle>Blog posts</PageTitle>

<h1>Blog posts</h1>

<div class="content">



    @if (posts == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @foreach (var post in posts)
        {
            <div class="row">
                <h4>@post.Title</h4>
                <div class="divider"></div>
                <p>@post.Body</p>
            </div>
        }

    }
</div>


@code {
    private Post[]? posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await Http.GetFromJsonAsync<Post[]>("https://jsonplaceholder.typicode.com/posts");
    }

    public class Post
    {
        public int UserId { get; set; }

        public int Id { get; set; }

        public string? Title { get; set; }

        public string? Body { get; set; }
    }
}